* {box-sizing: border-box; margin: 0;  padding: 0; transition: all 0.3s ease}

/***************** ANCHOS*******************/
	.LINEA{border-left:solid 1px RED;}
		.col-12{width: 100%}
		.col-9{width: 75%}
		.col-8{width: 66.66%}
		{width: 42.66%; height: 100px; float: left; left: 8.33%}
		.col-6{width: 50%}
		.col-4{width: 33.33%}
		.col-3{width: 25%}
		.col-1{width: 8.33%;}
/*****************ALTURAS*******************/
		.h70{top:100px; left:280px;   }
		.top{margin-top:70px; margin-left:0px;}
		.bot{margin-left:150px; margin-bottom:0px; }
		.por{left:70px;}
		.por2{margin-top:30px;}
		.h690{height: 550px}
		.h345{height: 345px}
.publi{width:80%; height:80%;}
/******************* COLORES *******************/

body{color: dimgray; padding: 0; width: 92%; margin: auto; }
.oro100 {background-color: rgba(170,143,83,1); 
    color: white!important;}
.oro60 {background-color: rgba(170,143,83,0.6); color: white!important;}
.gris1 {background-color: rgba(128,128,128,1); color: white!important;}
.gris2 {background-color: rgba(77,77,77,1); color: white!important;}
.toro {color: rgba(170,143,83,1)!important;}

.blanco {border: solid 2px rgba(170,143,83,1); background-color: white}



/******************* ENCABEZADOS Y SUBTITULOS *******************/


h1, h2, h3, h4, h5, h6, .sub16, .boton {font-family: 'Quicksand', sans-serif;}

h1{font-size: 60pt; font-weight: 300; letter-spacing: 0px;}
h2{font-size: 30pt; font-weight: 400; letter-spacing: 5px;}
h3{font-size: 24pt; font-weight: 400; letter-spacing: 1px;}
h4{font-size: 20pt; font-weight: 500; letter-spacing: 0px;}
h5{font-size: 16pt; font-weight: 500; letter-spacing: 0px;}
h6{font-size: 12pt; font-weight: 700; letter-spacing: 0px;}
.boton{font-size: 12pt; font-weight: 400; text-transform: uppercase; color: white; letter-spacing: 2px;}
.sub16{font-size: 16pt; font-weight: 400; letter-spacing: 5px;}

/******************* TEXTO / BOTONES / ANOTACIONES *******************/


.cuerpo1, .sub14, .cuerpo2, .anotacion {font-family: 'Source Sans Pro', sans-serif;}

.cuerpo1{font-size: 12pt; font-weight: 400; letter-spacing: 0px;}
.cuerpo2{font-size: 10pt; font-weight: 400; letter-spacing: 1px;}
.anotacion{font-size: 9pt; font-weight: 400; text-transform: uppercase;}
.sub14{font-size: 10pt; font-weight: 700; letter-spacing: 1px; }
.pd11{padding: 12px; margin: 4px;}
.pd10{padding: 5px; margin: 4px;}
.fl{float:left; border: solid 5px white;}
.fla{float: left;}
/*fl:hover{ transform:scale(1.5,1.5); } para cuando pase el mouse se agrande*/
.ma{margin: auto;}
.md-12 {margin: auto;width: 100%; height: auto; position: relative; float: left; padding: 10px}
.md-8 {width: 66.6%;float: left; padding: 20px;}
.md-6 {width: 50%;float: left;} 
.md-4 {width: 33.3%; float: left;padding: 10px}
.bbrr{border-left: 2px; border-bottom-right-radius:12px;   background-color: rgba(128,128,128,1); color: white;text-align: center}
.bbrr:hover  {background-color: rgba(77,77,77,1);}
.bbrr:active  {background-color: rgba(170,143,83,0.6); color: white!important; }
.btlr {border-top-left-radius: 15px; background-color: rgba(128,128,128,1); color: white; float: left;}

.p{padding-top: 20px;}
.pr{position:relative;}
.pa{position:absolute;
}
.rubro{height:20px; width:130px; text-align:center; transform:rotate(-45deg); left:-25px; top:26px;}/*aca le dimos la posicion al bloque poronga*/
.oh{overflow:hidden;}/*controla lo q sucede con el contenido desbordado de nuestro contenedor(en este caso la imagen q esta adentro del contenedor)*/
.mb10 {margin-bottom: 10px;}
.cvl {display:flex; justify-content: center; align-items: center;}

/*---------------LOGOS Y IMAGENES---------------*/
.logo{
	height:60px;
	width:60px;
	border-radius:30px; 
}
.izq{ margin-left:350px; }
.mrl{ padding-right: 50px; }
.img4 {background-image: url(../img/origen3.jpg); background-size: cover; background-position: center;}}
.img3 {background-image: url(../img/origen2.jpg); background-size: cover; background-position: center;}
.img2 {background-image: url(../img/origen.jpg); background-size: cover; background-position: center;}
.img1 {background-image: url(../img/image1.jpg); background-size: cover; background-position: center;}
.koala{background-image: url(../img/Koala.jpg); background-size: cover; background-position: center;}
.pg{background-image: url(../img/logopg.jpg); background-size: cover; background-position: center;}


/*-------------CARGA DE DATOS GRAL-------*/
input{
	border: 1px solid; padding: 10px; background-color: white!important; width:300px; 
}

input[type="text"] {

	background-color: red;
}
input[type="submit"] {

	background-color: red!important;
}

/*------------------------CENTRAR ELEMENTO VERTIAL Y HORIZONTALMENTE------------------------*/
	.centrar{ 
		display:flex;
		align-items:center;
		justify-content:center;
	 }
@media screen and (max-width:720px){
    .md-12, .md-8, .md-4, .md-6, body {width: 100%}


}